@media (max-width: 1500px) {    
    .container {
        width: 1050px;
    }

    .nav-main>li {
        font-size: 16px;
    }
    
    .nav-main>li:first-child {
        margin-left: 200px;
    }

    .header-button {
        font-size: 16px;
        padding: 12px 0; 
    }

    #home-section {
        padding-bottom: 100px;
    }

    .home {
        height: 600px;
    }

    .home-left,
    .home-right,
    .subscription-left,
    .metrics-right {
        width: 50%;
    }

    .subscription-left img,
    .metrics-right img {
        width: 400px;
        height: 450px;
    }

    .home-left>b {
        margin-bottom: 21px;
        font-weight: 700;

        font-size: 56px;
        line-height: 53px;
    }

    .home-left>p,
    .section-text,
    .metrics-text {
        font-size: 18px;
        line-height: 1.6;
    }

    .section-header,
    .metrics-header {
        font-size: 36px;
    }

    .metrics {
        margin-bottom: 80px;
    }

    .audit {
        width: 180px;    
    }

    .audit>img {
        margin-left: 50px;
        width: 60px; 
        height: 45px;
        margin-bottom: 13px;
    }

    .audit>h3 {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 16px;   
    }
    
    .audit>p {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.2;
    }

    
}


@media (max-width: 1170px) {
    .container {
        width: 730px;
    }   

    .nav-main>li {
        font-size: 14px;
        margin-right: 35px;
    }

    .home {
        height: 450px;
    }

    .home-left>b,
    .product-header>b {
        font-size: 48px;
        line-height: 45px;
    }

    .home-left>p,
    .section-text,
    .metrics-text {
        font-size: 16px;
        line-height: 1.4;
    }

    .home-right>img {
        left: 45px;
    }

    .subscription-left img,
    .metrics-right img {
        width: 300px;
        height: 350px;
    }

    .product-tabs {
        margin-top: 20px;
    }

    .plan {
        width: 240px; 
        margin-right: 5px;
    }
    
    .plan strong{ 
        font-size: 48px;
    }

    .plan a{ 
        width: 190px;
    }

    .plan-recomend { 
        width: 305px;
    }
    
}


@media (max-width: 768px) {
    .container {
        width: 480px;
        padding: 20px;
    }

    #header_main {
        padding: 30px 0 30px;
    }

    .nav-main>li {
        font-size: 12px;
        margin-right: 10px;
    }

    .nav-main>li:first-child {
        margin-left: 20px;
    }

    .header-button {
        font-size: 14px;
        padding: 8px 0; 
        width: 140px;
    }


    .home {
        height: 400px;
    }

    .home-left>b,
    .section-header,
    .metrics-header {
        font-size: 36px;
        line-height: 32px;
    }

    .home-left>p,
    .section-text,
    .metrics-text {
        font-size: 14px;
        line-height: 1.2;
    }
    
    .home-nav>button {
        width: 180px;
        margin-right: 15px;
    }

    .home-nav a img {    
        position: absolute;
        width: 20px;
        height: 20px;  
        margin: 15px;  
    }

    .home-right>img {
        left: 25px;
    }

    .partners>ul li {
        margin-right: 20px;
    }

    .subscription-right,
    .metrics-left {
        width: 235px;
        padding-top: 25px;
    }

    .subscription-left img,
    .metrics-right img {
        width: 200px;
        height: 250px;
    }

    #metrics-section {
        padding-bottom: 100px;
    }

    #product-section {
        padding-bottom: 100px;
       
    }

    .product-header b {
        font-weight: 600;
        font-size: 24px;
        line-height: 1.2;   
        width: 190px;
    }
  
    .product-tabs {
        width: 250px;
        height: 65px;    
    }
    

    .plans-wrap {
        display: flex;
        column-gap: 30px;
        row-gap: 60px;
        flex-wrap: wrap;
    }
    
    .plan {
        flex: 1 1 0;
        min-width: 200px;
        height: 280px;  
        
    }
    
    .plan-recomend {
        width: 215px;
        height: 305px;    
        padding: 35px 25px 25px 35px;
    }

    .plan h3 {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
        
    }
    
    .plan strong{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .plan-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    .plan a,
    .plan-recomend a  {
        height: 60px;
        width: 85%;
        line-height: 1.5; 
        margin-left: 10%;
    }

}

@media (max-width: 480px) {
    .container {
        width: 320px;
        padding: 10px;
    }

    #header_main {
        padding: 30px 0 30px;
    }

    .nav-main>li {
        font-size: 10px;
        margin-right: 8px;
    }

    .nav-main>li:first-child {
        margin-left: 15px;
    }

    .header-button {
        font-size: 10px;
        padding: 6px 0; 
        width: 120px;
    }

    #home-section {
        padding-bottom: 50px;
    }

    .home {
        height: 300px;
    }

    .home-left>b,
    .section-header,
    .metrics-header {
        font-size: 26px;
        line-height: 1;
    }

    .home-left>p,
    .section-text,
    .metrics-text {
        font-size: 12px;
        line-height: 1;
    }
    
    .home-nav>button {
        width: 140px;
        font-size: 14px;
        margin-right: 15px;
    }

    .home-nav a {    
        width: 65px;
        height: 50px;
    }

    .home-nav a img {
        margin: 30%;
    }

    .home-right>img {
        left: 15px;
    }

    .partners>ul li {
        margin-right: 20px;
    }


    .subscription-right,
    .metrics-left {
        width: 50%;
        padding-top: 15px;
    }

    .subscription-left img,
    .metrics-right img {
        width: 120px;
        height: 200px;
    }

    #metrics-section {
        padding-bottom: 50px;
    }

    .audit {
        width: 100px;    
    }

    .audit>img {
        margin-left: 30px;
        width: 45px; 
        height: 30px;
        margin-bottom: 13px;
    }

    .audit>h3 {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 12px;   
    }
    
    .audit>p {
        font-weight: 400;
        font-size: 10px;
        line-height: 1;
    }



    .product-header b {
        font-weight: 600;
        font-size: 20px;
        line-height: 1;   
        width: 130px;
    }
  
    .product-tabs {
        width: 250px;
        height: 65px;    
    }
    

    .plans-wrap {
        display: flex;
        column-gap: 30px;
        row-gap: 60px;
        flex-wrap: wrap;
    }
    
    .plan {
        flex: 1 1 0;
        min-width: 200px;
        height: 280px;  
        
    }
    
    .plan-recomend {
        width: 215px;
        height: 305px;    
        padding: 35px 25px 25px 35px;
    }

    .plan h3 {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
        
    }
    
    .plan strong{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .plan-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    .plan a,
    .plan-recomend a  {
        height: 60px;
        width: 85%;
        line-height: 1.5; 
        margin-left: 10%;
    }
}

@media (max-width: 320px) {
    .container {
        width: 280px;
        padding: 10px;
    }

    #header_main {
        padding: 15px 0 15px;
    }

    .nav-main>li {
        font-size: 10px;
        margin-right: 5px;
    }

    .nav-main>li:first-child {
        margin-left: 8px;
    }

    .header-button {
        font-size: 8px;
        padding: 4px 0; 
        width: 100px;
    }


    #home-section {
        padding-bottom: 30px;
    }

    .home {
        height: 250px;
        padding-bottom: 15px;
    }

    .home-left>b,
    .section-header,
    .metrics-header {
        font-size: 22px;
        line-height: 0.8;
    }

    .home-left>p,
    .section-text,
    .metrics-text {
        font-size: 12px;
        line-height: 1;
    }
    
    .home-left>p {
        margin-bottom: 20px;
    }

    .home-nav>button {
        width: 120px;
        height: 60px;
        font-size: 14px;
        margin-right: 15px;
        padding-top: 12px;
    }

    .home-nav a {    
        width: 65px;
        height: 50px;
    }

    .home-nav a img {
        margin: 25%;
    }

    .home-right>img {
        left: 15px;
        top: 20px;
    }

    .partners>ul li {
        margin-right: 20px;
    }


    .subscription-right,
    .metrics-left {
        width: 50%;
        padding-top: 8px;
    }

    .subscription-left img,
    .metrics-right img {
        width: 115px;
        height: 160px;
    }

    #metrics-section,
    #subscription-section {
        padding-bottom: 20px;
    }

    .metrics {
        margin-bottom: 50px;
    }

    .audit {
        width: 80px;    
    }

    .audit>img {
        margin-left: 30px;
        width: 35px; 
        height: 20px;
        margin-bottom: 13px;
    }

    .audit>h3 {
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 12px;   
    }
    
    .audit>p {
        font-weight: 400;
        font-size: 10px;
        line-height: 1;
    }



    .product-header b {
        font-weight: 600;
        font-size: 18px;
        line-height: 1;   
        width: 120px;
    }
  
    .product-tabs {
        width: 200px;
        height: 65px;   
        margin-top: 5px;   
    }
    

    .plans-wrap {
        display: flex;
        column-gap: 30px;
        row-gap: 60px;
        flex-wrap: wrap;
    }
    
    .plan {
        flex: 1 1 0;
        min-width: 200px;
        height: 280px;  
        
    }
    
    .plan-recomend {
        width: 215px;
        height: 305px;    
        padding: 35px 25px 25px 35px;
    }

    .plan h3 {
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 10px;
        
    }
    
    .plan strong{
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    
    .plan-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    
    .plan a,
    .plan-recomend a  {
        height: 60px;
        width: 85%;
        line-height: 1.5; 
        margin-left: 10%;
    }
}


